<header>
  <div class="container-fluid" id="top-header">
    <div class="col-12 d-none d-md-block">
      <div class="row">
        <div class="col-6">
          <div class="row float-left">
            <p>
              Наши точки в России и Казахстане
            </p>
            <div class="vertical-line"></div>
            <p>
              <a href="tel: +77076060070">+7 707 606 00 70</a>
            </p>
            <p>
              <a href="tel: +77016060070">+7 701 606 00 70</a>
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="row float-right text-right">
            <p>
              <a href="https://www.instagram.com/profildoors.ru/">
                <i class="fa fa-instagram"></i>
              </a>
            </p>
            <div class="vertical-line"></div>
            <p>
              <a href="#signin">
                <i class="fa fa-sign-in"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-md-none">
      <div class="row">
        <div class="col-10">
          <div class="row float-left text-right">
            <p>
              <a href="tel: +77076060070"><i class="fa fa-phone" style="vertical-align: middle;"></i> <span>+7 (707) 606-00-70</span></a>
            </p>
            <div class="vertical-line"></div>
            <p>
              <a href="tel: +77016060070"><i class="fa fa-phone" style="vertical-align: middle;"></i> <span>+7 (701) 606-00-70</span></a>
            </p>
            <div class="vertical-line"></div>
          </div>
        </div>
        <div class="col-2">
          <div class="row float-right">
            <p>
              <a href="#signin">
                <i class="fa fa-sign-in"></i>
              </a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand float-left" href="#">
        <img *ngIf="!isWhiteLogo" src="assets/images/logo.png" alt="logo" class="d-none d-lg-block" height="30px">
        <img *ngIf="!isWhiteLogo" src="assets/images/logo-white.png" alt="logo" class="d-block d-lg-none" height="30px">
        <img *ngIf="isWhiteLogo" src="assets/images/logo-white.png" alt="logo" class="d-block" height="30px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent">
          <li class="nav-item">
            <a routerLink="/main" routerLinkActive="active" class="nav-link">Главная страница</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active" class="nav-link">О компании</a>
          </li>
          <li class="nav-item">
            <a routerLink="/catalog" routerLinkActive="active" class="nav-link ">Каталог</a>
          </li>

          <li class="nav-item">
            <a routerLink="/location" routerLinkActive="active" class="nav-link">Где купить</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>