<footer class="white pt-5">
  <div class="container">
    <div class="row my-5 justify-content-between">
      <div class="col-md-7 text-center text-md-left">
        <div class="row">
          <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
            <p>
              <a id="main_top">Главная страница</a>
            </p>
            <p>
              <a id="about_company">О компании</a>
            </p>
            <p>
              <a id="about_doors">Серии дверей</a>
            </p>
            <p>
              <a id="about_team">Наша команда</a>
            </p>
            <p>
              <a id="about_location">Позвонить</a>
            </p>
            <p>
              <a id="about_clients">Наши клиенты</a>
            </p>
          </div>


        </div>
      </div>
      <div class="col-md-3 text-center text-md-right">
        <img width="70%" src="assets/images/logo-white.png" alt="Logo white">
        <!-- <h5 class="smaller">Подпишись на нас</h5>
        <form>
            <input class="dark" placeholder="Введите почтовый адрес">
            <button class="btn btn-primary">Отправить</button>
        </form>
        <p class="smaller">Подписка длится пока вы ее не отмените</p> -->
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-md-6 text-center text-md-left">
        <p>
          <a href="https://www.instagram.com/profildoors.ru/" class="mx-1">
            <i class="fa fa-instagram"></i>
          </a>
          <!-- <a href="http://instagram.com" class="mx-1">
              <i class="fa fa-facebook"></i>
          </a>
          <a href="http://youtube.com" class="mx-1">
              <i class="fa fa-youtube-play"></i>
          </a>
          <a href="http://vk.com" class="mx-1">
              <i class="fa fa-vk"></i>
          </a> -->
        </p>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <p class="smaller grey">
          2017. Сделано сотрудниками компнаии <span class="white">ProfilDoors</span>. Все права защищенны
        </p>
      </div>
    </div>
  </div>
</footer>