<section id="main" class="mb-5 pt-5" style="background-image: url(assets/images/bgblur.jpg);">
  <div class="bg-shadow"></div>
  <div class="container white text-center mb-5 py-5">
    <div class="row my-5">
      <div class="col-12 my-5" id="main-text">
        <h1 class="upper mb-3">Где купить</h1>
        <p class="big line-height">В фирменных магазинах на территории Казахстана и России.</p>
        <br>
      </div>
    </div>
  </div>
</section>

<section id="map" class="mt-5 py-3">
  <div class="container">
    <div class="col-md-12 mx-auto">
      <div class="row justify-content-around">
        <h2 class="text-center smaller">Найдите магазин на карте</h2>
      </div>
      <form class="row my-2" (submit)="onFormSubmit($event)">
        <div class="col-md-4 mb-2">
          <select class="input-group input-group-alt" (change)="onCountryInputChanged($event)">
            <option selected="">Казахстан</option>
            <option>Россия</option>
          </select>
        </div>
        <div class="col-md-4 mb-2">
          <select class="input-group input-group-alt">
            <option *ngFor="let city of filteredCitiesToInput; let i = index" [value]="i">{{ city.name }}</option>
          </select>
        </div>
        <div class="col-md-4 mb-2">
          <button class="input-group-btn btn btn-primary w-100" type="submit">Найти</button>
        </div>
      </form>
    </div>
  </div>
  <div id="ymap" style="width: 100%; height: 400px;margin-top: 30px;">
    <ya-map [latitude]="mapX" [longitude]="mapY" [zoom]="11">
      <ya-marker *ngFor="let shop of shops" [latitude]="shop.x" [longitude]="shop.y" [balloonContentBody]=[shop.address]>
      </ya-marker>
    </ya-map>
  </div>
</section>


<section id="places">
  <div class="container">
    <div class="col-12 my-5" *ngFor="let city of filteredCities">
      <div class="row">
        <div class="col-12">
          <h3 class="brown mb-4">{{ city.name }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let shop of filterShops(city.id)">
          <h5>{{ shop.header }}</h5>
          <p class="regular col-md-7 px-0 gray">{{ shop.address }}</p>
          <p class="regular"><a href="tel: +77076060070">+77076060070</a></p>
          <p class="regular"><a href="tel: +77016060070">+77016060070</a></p>
        </div>
      </div>
    </div>
  </div>
</section>