<section id="main" class="mb-5 about" >

  <div class="container white text-center mt-5 pt-5">
    <div class="row mt-5">
      <div class="col-12" id="main-text">
        <h1 class="upper big ">PROFIL DOORS</h1>
        <p class="bigger line-height">Вся продукция «Profil Doors» изготавливается с учетом трендов в дизайне, безопасных и надежных материалов. </p>
        <br>
      </div>
    </div>
    <div class="bg-elements">
      <img src="assets/images/doors-left.png" alt='' class="d-left">
      <img src="assets/images/doors-right.png" alt='' class="d-right d-none d-md-block">
      <img src="assets/images/hand.png" alt='' class="h-middle d-none d-md-block">
    </div>
  </div>
</section>

<section id="info" class="my-5 py-3">
  <div class="container">
    <div class="col-md-12 mx-auto">
      <div class="row justify-content-around">
        <div class="col-12 col-md-4">
          <div class="mt-1" style="height: 5px;background: #b88d5a;"></div>
          <h1 class="mb-3 mt-4">Мы предлагаем не только двери ...</h1>
          <p class="high gray">Мы предлагаем оригинальные двери для тех, кто ценит надежность и красоту, что подчеркивает индивидуальность дизайна интерьера.</p>
        </div>
        <div class="col-12 col-md-7">
          <p class="high gray">Выезд замерщика, который проведет все расчеты и определит нужные габариты конструкции.</p>
          <p class="high gray">Мы продаем продукцию нестандартных размеров, поэтому вы легко подберете подходящую модель по размеру.</p>
          <p class="high gray"> Предоставляем годовую гарантию на продукцию по чеку и договору на обслуживание.</p>
          <p class="high gray">Выполняем установку под ключ в день покупки — на нее так же предоставляется гарантия на 1 год.</p>
          <p class="high gray">Срок службы двери — 20 лет.</p>
        </div>
      </div>
    </div>
  </div>
</section>