<section id="main" class="pt-5" style="background-image: url(assets/images/bgblur.jpg);">
  <div class="bg-shadow"></div>
  <div class="container white text-center pt-5 pb-0">
    <div class="row my-5">
      <div class="col-12 my-5" id="main-text">
        <h1 class="upper mb-3">Каталог продуктов</h1>
        <p class="big line-height">В нашем каталоге вы можете подобрать стильный декор <br> дверных конструкций, соответствующий бюджету и вашим предпочтениям.</p>
        <br>
      </div>
    </div>
    <div class="row pb-0 pt-2 px-2">
      <div class="col-12 mx-auto bg-shadow-white text-center categories">
        <div class="row pt-2 pl-2 pr-2">

          <div class="col-3 category active" data-value="0">
            <div class="category-image py-2">
              <a style="position:absolute;width:130px;height:100px;top:0px;left:0px;" href="javascript:void(0)"></a>
              <svg height="34px" viewBox="0 0 336 479">
                <path d="M0.001,0.001 L0.001,478.418 L335.998,478.999 L335.998,0.001 L0.001,0.001 ZM31.599,446.894 L31.599,31.581 L304.398,31.581 L304.398,88.433 L293.602,88.433 L293.602,42.116 L42.396,42.116 L42.396,436.858 L293.602,436.858 L293.602,390.542 L304.398,390.542 L304.398,447.366 L31.599,446.894 ZM293.602,137.555 L304.398,137.555 L304.398,341.417 L293.602,341.417 L293.602,137.555 ZM94.358,239.487 C94.358,248.642 86.930,256.065 77.768,256.065 C68.606,256.065 61.178,248.642 61.178,239.487 C61.178,230.331 68.606,222.907 77.768,222.907 C86.930,222.907 94.358,230.331 94.358,239.487 Z"></path>
              </svg>
            </div>
            <p>Межкомнатные двери</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="catalog">
  <div *ngIf="isLoading()" [@fading]="'show'" class="container py-5" style="position: absolute; right: 0; left: 0;">
    <h3 class="mb-4" style="color: #999"> <span class="fa fa-spinner animation-spin"></span>  Загружаем вам двери</h3>
    <div class="box p-3" style="height: 142px">
      <h5 class="big mb-4">
        <div style="background-color: #eee; height: 21px; width: 150px; border-radius: 11px;"></div>
      </h5>
      <div class="col-md-4 px-0">
        <div style="background-color: #eee; height: 19px; border-radius: 8px; margin-bottom: 0.5rem"></div>
        <div style="background-color: #eee; height: 38px;"></div>
      </div>
    </div>
    <div class="row mt-5">
      <div *ngFor="let i of [0, 1, 2, 3]" class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto" style="background: #f3f3f3 url('assets/images/door-template.svg'); height: 341px; width: 144px;"></div>
        <br>
        <div style="background-color: #ddd; height: 18px; width: 150px; margin: 0 auto; border-radius: 9px;"></div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading()" class="container py-5" style="height: 768px;"></div>
  <div [@fading]="'show'" class="container py-5" id="catalog-body" *ngIf="!isLoading()">
    <h3 class="mb-4">{{ doors.length }} результатов</h3>
    <div class="box p-3">
      <h5 class="big mb-4">
        Сортировка по:
      </h5>
      <form class="row">
        <div class="col-md-4">
          <h5 class="small">Категориям</h5>
          <select class="input-group input-group-alt" name="criteria" id="criteria-value" (change)="onSelectSubcategory($event.target.value)">
            <option [selected]="!activeSubcategory" value="all">Все</option>
            <option *ngFor="let subcategory of subcategories" [value]="subcategory.id" [selected]="subcategory.id === activeSubcategory">{{ subcategory.title }}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="row mt-5" id="catalog-list">

      <div *ngFor="let door of visibleDoors; let i = index" class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" [ngStyle]="{backgroundImage: 'url(https://home-style-production.s3.amazonaws.com/public/avatars/' + door.id + '/original_' + door.main_image_file_name + '), url(\'assets/images/door-template.svg\')'}" style="height: 341px; width: 144px;"></div>
        <br>
        <p class="high text-center">Дверь {{ door.title }}</p>
      </div>

    </div>

    <div class="" style="max-width: 100% !important;">

      <nav>
        <ul class="pagination pagination  row mx-0 justify-content-center ">

          <li class="page-item" *ngIf="activePage > 1">
            <a class="page-link" routerLink="javascript:void(0)" (click)="goToPage(1)">« Первый</a>
          </li>

          <li class="page-item" *ngIf="activePage > 1">
            <a class="page-link" routerLink="javascript:void(0)"  (click)="goToPage(activePage - 1)">‹ Предыдущий</a>
          </li>

          <li *ngFor="let page of pages" [ngClass]="{active: page === activePage}" class="page-item mb-2">
            <a class="page-link" routerLink="javascript:void(0)" (click)="goToPage(page)">{{ page }}</a>
          </li>

          <li class="page-item mb-2" *ngIf="activePage < lastPage">
            <a class="page-link" routerLink="javascript:void(0)"  (click)="goToPage(activePage + 1)">Следующий ›</a>
          </li>

          <li class="page-item mb-2" *ngIf="activePage < lastPage">
            <a class="page-link" routerLink="javascript:void(0)"  (click)="goToPage(lastPage)">Последний »</a>
          </li>

        </ul>
      </nav>

    </div>
  </div>
</section>