<section id="main" class="pt-5">
  <div class="bg-shadow"></div>
  <div class="container white text-center pt-5 pb-0">
    <div class="row my-5">
      <div class="col-12 my-5" id="main-text">
        <h1 class="upper mb-3">Каталог продуктов</h1>
        <p class="big line-height">В нашем каталоге вы можете подобрать стильный декор <br> дверных конструкций, соответствующий бюджету и вашим предпочтениям.</p>
        <br>
      </div>
    </div>
    <div class="row pb-0 pt-2 px-2">
      <div class="col-12 mx-auto bg-shadow-white text-center categories">
        <div class="row pt-2 pl-2 pr-2">

          <div class="col-3 category active" data-value="0">
            <div class="category-image py-2">
              <a style="position:absolute;width:130px;height:100px;top:0px;left:0px;" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8"></a>
              <svg height="34px" viewBox="0 0 336 479">
                <path d="M0.001,0.001 L0.001,478.418 L335.998,478.999 L335.998,0.001 L0.001,0.001 ZM31.599,446.894 L31.599,31.581 L304.398,31.581 L304.398,88.433 L293.602,88.433 L293.602,42.116 L42.396,42.116 L42.396,436.858 L293.602,436.858 L293.602,390.542 L304.398,390.542 L304.398,447.366 L31.599,446.894 ZM293.602,137.555 L304.398,137.555 L304.398,341.417 L293.602,341.417 L293.602,137.555 ZM94.358,239.487 C94.358,248.642 86.930,256.065 77.768,256.065 C68.606,256.065 61.178,248.642 61.178,239.487 C61.178,230.331 68.606,222.907 77.768,222.907 C86.930,222.907 94.358,230.331 94.358,239.487 Z"></path>
              </svg>
            </div>
            <p>Межкомнатные двери</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="catalog">
  <div class="container py-5">
    <h3 class="mb-4">12 результатов</h3>
    <div class="box p-3">
      <h5 class="big mb-4">
        Сортировка по:
      </h5>
      <form class="row">
        <div class="col-md-4">
          <h5 class="small">Категориям</h5>

          <a class="subcategory-button" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;subcategory=U">U</a>
          <a class="subcategory-button" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;subcategory=L">L</a>
          <a class="subcategory-button" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;subcategory=M">M</a>
          <a class="subcategory-button" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;subcategory=E">E</a>
          <a class="subcategory-button" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;subcategory=Z">Z</a>
          <a class="subcategory-button" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;subcategory=D">D</a>
          <a class="subcategory-button" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;subcategory=VG">VG</a>
          <a class="subcategory-button" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;subcategory=X+%D0%9C%D0%BE%D0%B4%D0%B5%D1%80%D0%BD">X Модерн</a>
          <a class="subcategory-button" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;subcategory=X+%D0%9A%D0%BB%D0%B0%D1%81%D1%81%D0%B8%D0%BA%D0%B0">X Классика</a>

        </div>
      </form>
    </div>
    <div class="row mt-5">
      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/462/original_4vg_belyy_glyanets.png.png?1506449941); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 4VG</p>
      </div>



      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/461/original_3vg_belyy_glyanets.png.png?1506449940); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 3VG</p>
      </div>



      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/460/original_2vg_belyy_glyanets_belyy_lak.png.png?1506449938); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 2VG</p>
      </div>



      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/459/original_1vg_belyy_glyanets.png.png?1506449936); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 1VG</p>
      </div>



      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/458/original_1452954033_69272905.jpg?1506449365); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 12D</p>
      </div>



      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/457/original_1452953871_433047505.jpg?1506449364); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 11D</p>
      </div>



      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/456/original_1452953315_1485509802.jpg?1506449363); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 10D</p>
      </div>



      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/455/original_1452952531_221152568.jpg?1506449362); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 9D</p>
      </div>



      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/454/original_1452951559_733053475.jpg?1506449360); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 8D</p>
      </div>



      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/453/original_1452950284_32593207.jpg?1506449359); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 7D</p>
      </div>



      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/452/original_1452949747_832787867.jpg?1506449358); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 6D</p>
      </div>



      <div class="col-md-3 col-sm-6 mt-2 mb-5 door">
        <div class="image-container mx-auto shadow" style="background-image: url(https://home-style-production.s3.amazonaws.com/public/avatars/451/original_1452948452_513867615.jpg?1506449356); height: 341px; width: 144px"></div>
        <br>
        <p class="high text-center">Дверь 5D</p>
      </div>





    </div>

    <div class="row mx-0 justify-content-start" style="width: 100% !important;">

      <nav>
        <ul class="pagination ">


          <li class="page-item active">
            <a class="page-link" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8">1</a>
          </li>

          <li class="page-item">
            <a class="page-link" rel="next" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;page=2">2</a>
          </li>

          <li class="page-item">
            <a class="page-link" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;page=3">3</a>
          </li>

          <li class="page-item">
            <a class="page-link" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;page=4">4</a>
          </li>

          <li class="page-item">
            <a class="page-link" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;page=5">5</a>
          </li>

          <li class="page-item disabled"><a href="#" onclick="return false;" class="page-link">…</a></li>
          <li class="page-item">
            <a class="page-link" rel="next" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;page=2">Следующий ›</a>
          </li>

          <li class="page-item">
            <a class="page-link" href="/products?category=%D0%9C%D0%B5%D0%B6%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D0%BD%D1%8B%D0%B5+%D0%B4%D0%B2%D0%B5%D1%80%D0%B8&amp;page=22">Последний »</a>
          </li>

        </ul>
      </nav>

    </div>
  </div>

</section>